body
{
    font-family: Verdana;
    color: rgb(0,0,100);
    padding: 0px;
    margin: 0px;
    background: url(Images/backsmooth.jpg);
}

.topPanel
{
    background: white;
    background-image: url(Images/blueLine.jpg);
    background-repeat: repeat-y;
}

.title
{
    color: White;
    padding: 4px;
}

.subTitle
{
    color: White;
    font-size: 90%;
}

.logoff
{
    color: yellow;
    font-weight: bold;
    font-size: 70%;
    text-decoration: none;
}

.pathRow
{
    background: rgb(120,120,255);
    color: White;
    font-size: 70%;
    padding: 4px;
    background: url(Images/back2.jpg);
    font-weight: bold;
}

.pathRow td
{
    font-size: 70%;
    color: White;
    font-weight: bold;
}


.pathRow a
{
    color: Yellow;
}

.bottomLineDiv
{
    background: rgb(120,120,255);
    padding: 2px;
    color: White;
}


.contentTableCell
{
    padding: 1em;
}

.dataList th
{
    text-align: left;
    font-size: 80%;
}

.dataList th a
{
    color: White;
    text-decoration: none;    
}

.dataList td
{
    font-size: 80%;
}

.forumMessageList td
{
    font-size: 80%;
}

.forumMessageList th
{
    font-size: 80%;
}

@media print 
{
	input,
	button,
	.bottomLineDiv,
	.topPanel,
	.printer-invisible
	{
		display:none;
	}
	body
	{
		background-image:none;
	}
}