<?xml version="1.0"?>

	<connectionStrings>
		<add name="DceConnectionString"
			 connectionString="Data Source=.\sqlexpress;AttachDbFilename=|DataDirectory|\DTWork.mdf;Integrated Security=True;User Instance=True"
			 providerName="System.Data.SqlClient"/>
		<add name="Convert.Properties.Settings.DTworkConnectionString"
			 connectionString="Data Source=.\sqlexpress;AttachDbFilename=|DataDirectory|\DTWork.mdf;Integrated Security=True;User Instance=True"
			 providerName="System.Data.SqlClient"/>
		<add name="ADMembershipConnection"
			 connectionString="LDAP://London"/>
		<!--		<add name="N2CMS" connectionString="Data Source=192.168.97.119\sqlexpress;Initial Catalog=n2;Persist Security Info=True;User ID=taras;Password=taras"/>-->
		<add name="N2CMS"
			 connectionString="Data Source=192.168.97.119\sqlexpress;Initial Catalog=n2taras;Persist Security Info=True;User ID=taras;Password=taras"/>
		<!--<add name="N2CMS"
			 connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\n2.mdf;Integrated Security=True;User Instance=True"/>-->
	</connectionStrings>