div.rounded {
    clear:both;
    max-width:2400px;
}

div.rounded div.top-outer {
    background:url(<%= WebResource("N2.Futures.Images.tl.gif") %>) no-repeat left bottom;
    padding:0px;
    width:100%;
}

div.rounded div.top-outer div.top-inner {
    background:url(<%= WebResource("N2.Futures.Images.tr.gif") %>) no-repeat right bottom;
    margin-left:10px;
}

div.rounded div.top-outer div.top-inner div.top {
    background:url(<%= WebResource("N2.Futures.Images.t.gif") %>) repeat;
    height:11px;
    margin-right:10px;
    font-size:.01em;
}

div.rounded div.mid-outer {
    background:url(<%= WebResource("N2.Futures.Images.l.gif") %>) left repeat-y;
    clear:both;
    width:100%;
}

div.rounded div.mid-outer div.mid-inner {
    background:url(<%= WebResource("N2.Futures.Images.r.gif") %>) right repeat-y;
    margin-left:10px;    
}

div.rounded div.mid-outer div.mid-inner div.mid {
	background-color:#ffffff;
    margin-right:10px;
}

div.rounded div.bottom-outer {
    background:url(<%= WebResource("N2.Futures.Images.bl.gif") %>) no-repeat left top;
    clear:both;
    padding:0px;
    width:100%;
}

div.rounded div.bottom-outer div.bottom-inner {
    background:url(<%= WebResource("N2.Futures.Images.br.gif") %>) no-repeat right top;
    margin-left:10px;
}

div.rounded div.bottom-outer div.bottom-inner div.bottom {
    background:url(<%= WebResource("N2.Futures.Images.b.gif") %>) repeat;
    height:11px;
    margin-right:10px;
    font-size:.01em;
}