html,body,form
{
	padding:0px;
	margin:0px;
}
form {
	height:100%;
}
div#wrap > table,
div#wrap {
	height:100%;
	width:100%;
}

/*Module Wizard*/
.player {
	display: block;
}
.player .wizard
{
	height:100%;
}
.player .wizard .sidebar {
	width: 25%;
	float:left;
	padding:1%;
	height:94%;
	padding-right:0px;
}

.player .wizard .sidebar .AspNet-DataList {
	height:100%;
}
.player .wizard .sidebar A.sba:HOVER {
	background-color: ButtonHighlight;
}
.player .wizard .sidebar SPAN.selected A.sba,
.AspNet-DataList SPAN.selected A.sba {
	background-color: Beige;
	font-weight:bold!important;
}

.player .wizard .step {
	float: right;
	clear:right;
	width:73%;
	height:90%;
}
.player .wizard .step > div,
.player .wizard .step > iframe {
	height: 100%;
}
.player .wizard .nav {
	clear:right;
	float:right;
	width:73%;
}

/*jQuery Spliter set up*/
	#splitter { height: 510px; }
	#leftPane { width: 200px; min-width: 50px; float:left; background:#fff }
	#rightPane { min-width: 50px; overflow: hidden; width:790px; float:left; background:#fff }
	#splitter .vsplitbar { width: 5px; background: #d3d6d5 url(../img/splitter.gif) no-repeat 50% 50%; }
	#splitter .vsplitbar.active, #splitter .vsplitbar:hover { background-color: #a5acb0; }
	#splitter iframe{ width:100%; }

.hidden{display:none;}

.sba { white-space:nowrap; }

/*http://www.csstemplatesweb.com/2008/07/17/pure-css-tooltip/*/
	.AspNet-DataList li span a:hover.sba{
		position:absolute;
		z-index:102;
		width:auto!important;
		background-color:white!important;
	}
	.AspNet-DataList li span{
		height:17px;
	}
	.AspNet-DataList li span A.sba {
		display:block;
		width: 100%;
	}
	
.AspNet-DataList,
.sbl {
	overflow:auto;
	display:block;
	background-color:White;
	border:1px solid Silver;
}

.player .testControl .correct {
	border: 1px solid Lime!important;
}

.player .testControl .incorrect {
	border: 1px solid Red!important;
}

.coursetree li { padding: 3px 0 2px 16px; }
.coursetree span.scheduledtopic,
	.coursetree span.testquestion,
	.coursetree span.test,
	.coursetree span.topic { padding: 1px 0 1px 16px; display: block; }
.coursetree span.scheduledtopic { background: url(../Img/02/03.png) 0 0 no-repeat; }
.coursetree span.topic { background: url(../Img/04/19.png) 0 0 no-repeat; }
.coursetree span.testquestion { background: url(../Img/page_tick.gif) 0 0 no-repeat; }
.coursetree span.test { background: url(../Img/page_script.gif) 0 0 no-repeat; }