html,body,form
{
	padding:0px;
	margin:0px;
}
form {
	height:100%;
}
div#wrap > table,
div#wrap {
	width:100%;
}
.wzm .sb {
	width: 200px;
}
.wzm .sb > TABLE {
	
}
.wzm A.sba {
	display:block;
	padding:4px;
	padding-left:7px;
	width: 100%;
}
.wzm A.sba:HOVER {
	background-color: ButtonHighlight;
}
.wzm .sbl .selected A.sba {
	background-color: Beige;
}

.wztr SPAN.sbl
{
	display:block;
	width:100%;
}
.wzm div.uc {
	height:100%;
}

#splitter { height: 510px; }
#leftPane { width: 200px; min-width: 50px; float:left; background:#fff }
#rightPane { min-width: 50px; overflow: hidden; width:790px; float:left; background:#fff }
#splitter .vsplitbar { width: 5px; background: #d3d6d5 url(../img/splitter.gif) no-repeat 50% 50%; }
#splitter .vsplitbar.active, #splitter .vsplitbar:hover { background-color: #a5acb0; }
#splitter iframe{ width:100%; }