<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="learningComponentsConnnectionString"
			 value="Data Source=192.168.97.119\SqlExpress;Initial Catalog=DotNetSCORM;Persist Security Info=True;User ID=taras;Password=taras;Network Library=dbmssocn" />
		<add key="packageStoreDirectoryPath"
			 value="~\Upload\LearningContent" />
		<add key="packageDirPathType"
			 value="Relative" />
		<add key="InstallationDate"
			 value="10.10.2008" />
	</appSettings>
	<connectionStrings>
		<remove name="LocalSqlServer" />
		<add name="LocalSqlServer"
			 connectionString="Data Source=192.168.97.119\SqlExpress;Initial Catalog=DotNetSCORM;Persist Security Info=True;User ID=taras;Password=taras"
			 providerName="System.Data.SqlClient" />
		<!-- SQL Server Native Client Connection String -->
		<add name="DotNetSCORMDB"
			 connectionString="Data Source=192.168.97.119\SqlExpress;Initial Catalog=DotNetSCORM;Persist Security Info=True;User ID=taras;Password=taras"
			 providerName="System.Data.SqlClient" />
		<!-- SQL Express Connection String - See readme.txt for setup instructions
		<add name="DotNetSCORMDB" connectionString="initial catalog=DotNetSCORM;Data Source=.\SQLExpress;Integrated Security=true;AttachDBFileName=|DataDirectory|Club.mdf;User Instance=True" providerName="System.Data.SqlClient"/>
			  -->
	</connectionStrings>
	<system.web>
		<xhtmlConformance mode="Strict" />
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Xml, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Messaging, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="Microsoft.VisualC, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.IdentityModel.Selectors, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<!--<customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.htm"/>-->
		<customErrors mode="Off" />
		<globalization requestEncoding="utf-8"
					   responseEncoding="utf-8" />

		<httpModules>
			<add name="FramesetContentModule"
				 type="Microsoft.LearningComponents.Frameset.FramesetModule" />
		</httpModules>

		<authorization>
			<deny users="?"/>
		</authorization>

	</system.web>
</configuration>