<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Top+SubMenu.master.cs"
    Inherits="N2.Templates.UI.Layouts.Top_SubMenu" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <form id="F" runat="server">
    <asp:ContentPlaceHolder ID="TextContent" runat="server">
    </asp:ContentPlaceHolder>
    </form>
</body>
</html>
