/*Wizard of Assignment List*/
	.assignment-list .wizard .sidebar {
		margin-top:11px;
		width: 25%;
		float:left;
	}
	.assignment-list .wizard .step {
		clear:right;
		float:right;
		width:75%;
	}
	.assignment-list .wizard .nav {
		display:none;
	}
	.assignment-list .wizard .sidebar A.sba {
		display:block;
		width: 100%;
		font-family: Verdana;
		padding:4px;
	}
	.assignment-list .wizard .sidebar .selected A.sba { background-color: #D0DAE2; }
.hidden { display: none;}