<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Convert.Properties.Settings.DTworkConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\usr\src\Lms\LmsWeb\App_Data\DTwork.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>