body, div, p, table, h1, h2, h3, h4, h5 , h6 , ul, li, a, td, tr, th, span, blockquote, textarea, input, label, select, fieldset, legend{margin:0;padding:0;}
    .clear{clear:both;height:0;font-size: 1px;line-height: 0px;}
    a img{border:none;}
    .hide{visibility:hidden;}
    .remove{display:none}


body{font-family:arial;font-size:100%;color:#ccc;background:#666;margin:30px;}
a{color:#84ab5b;}
a:hover,a:focus{color:#ffff00;}

div.dragDiv{border:1px solid white;padding:10px 20px 0px 20px;position:absolute;background:url(../gfx/jDrag.gif) no-repeat top left;}

/* jDrop Specific... */
div.jDrop {font-family:verdana;font-size:.8em;margin:0 .5em 1em 0;color:#000;float:left;}

div.jSel{background:url(../gfx/jSel.gif);padding:0px 0px;height:25px;overflow:hidden;float:left;}
div.jSel.hover{background-position:0px -25px;color:#fff;}
span.jSelOp{float:left;padding:4px 7px;white-space:nowrap;}

div.jDropBut{color:#000;background:url(../gfx/jDropBut.gif);width:25px;height:25px;float:left;}
div.jDropBut.hover{background-position:0px -25px;color:#fff;}

div.jOpDrop{margin:0px!important;position:absolute;z-index:10;display:none;background:url(../gfx/jOpDrop.gif) bottom left;border:1px solid #333;}
div.jOp{padding:2px 7px 3px 7px;padding-right:17px;white-space:nowrap;}
.jDrop img{width:15px;height:15px;vertical-align:middle;margin:-2px 5px 0 0px;position:relative;}
div.jOpDrop div.jOp.hover{background:#84ab5b;color:white;}

