<xml>

<dceLangPath>Lang\</dceLangPath>
<dceLanguage>RU</dceLanguage>

<XsltPath>XSL</XsltPath>

<PageNavigatorPortion>10</PageNavigatorPortion>

<MailSender>
   <MailServerName>arsenal</MailServerName>
   <AdminEMail>Andrew.Sidun@kvazar-micro.com</AdminEMail>
   <developerEMail>alexr@lundlay.com;sig@lundlay.com</developerEMail>
   <FromEMail>edu@kvazar-micro.com</FromEMail>
</MailSender>

<Courses>
   <root>Courses/</root>
</Courses>

</xml>