<SqlQueries>

<ClassRoomTopicList>
 <![CDATA[
 SELECT tp.id, Training, Author, Student, Topic, Message, PostDate
 ,dbo.StudentName(tp.Student, l.id) stName
 ,dbo.StudentName(tp.Author, l.id) stAuthor
 ,Blocked
 ,CONVERT(nvarchar(32),Topic) sortingTopic
 ,ISNULL(dbo.UserName(tp.Author, l.id), '')+ISNULL(dbo.StudentName(tp.Author, l.id), '') sortingAuthor
 ,dbo.UserName(tp.Author, l.id) usAuthor, us.Email
 FROM dbo.ForumTopics tp 
 left join dbo.Users us on us.id=tp.Author left join dbo.Languages l on l.Abbr='%dceLanguage%'
 where Training='%trainingId%' and ( Student='%studentId%' or(Student is null) )
 ]]>
</ClassRoomTopicList>

<ClassRoomTopicBody>
 <![CDATA[
 SELECT Topic, Message FROM dbo.ForumTopics ft where ft.id='%recordId%'
 ]]>
</ClassRoomTopicBody>

<ClassRoomTaskList>
 <![CDATA[
SELECT  tsl.id,Creator,ts.Type,ts.TaskTime
   ,dbo.GetStrContentAlt(ts.Name, '%dceLanguage%', l.Abbr) as Topic
   ,dbo.GetStrContentAlt(ts.Description, '%dceLanguage%', l.Abbr) as Message
   ,dbo.UserName(us.id,0) aName, us.Email, tsl.Complete, tsl.Solution
FROM 
   (dbo.Tasks ts left join dbo.Users us on ts.Creator=us.id)
   inner join dbo.TaskSolutions tsl on Task=ts.id
   inner join dbo.Trainings t on t.id = '%trainingId%'
   inner join dbo.Courses c on t.Course = c.id
   inner join dbo.Languages l on l.id=c.CourseLanguage
where ts.Training=t.id and Student='%studentId%'
 ]]>
</ClassRoomTaskList>

<ClassRoomTask>
 <![CDATA[
SELECT  tsl.Solution, TaskTime, tsl.Complete, ts.id
,dbo.GetStrContentAlt(ts.Description, '%dceLanguage%', '%dceDefLang%') as Message
FROM 
(dbo.TaskSolutions tsl inner join dbo.Tasks ts on tsl.Task=ts.id)
 where tsl.id='%recordId%'
 ]]>
</ClassRoomTask>

<ClassRoomReplyList>
 <![CDATA[
SELECT	Author,
		Message,
		PostDate,
		dbo.StudentName(fr.Author, l.id) stName,
		dbo.UserName(fr.Author, l.id) aName,
		CONVERT(nvarchar(32),Message) sortingMessage,
		ISNULL(dbo.StudentName(fr.Author, l.id), '')+ISNULL(dbo.UserName(fr.Author, l.id), '') sortingAuthor
FROM	(dbo.ForumReplies fr
			LEFT JOIN	dbo.Students st
				ON st.id=fr.Author)
		LEFT JOIN	dbo.Users us
			ON us.id=fr.Author
		LEFT JOIN	dbo.Languages l
			ON l.Abbr='%dceLanguage%'
WHERE	fr.Topic='%recordId%'
  ]]>
</ClassRoomReplyList>

	
</SqlQueries>
