<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false"/>
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false"/>
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false"/>
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false"/>
			<section name="templates" type="N2.Templates.Configuration.TemplatesSection, N2.Templates" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="CoursesRoot" value="~/Courses"/>
		<add key="LdapServer" value="ldap.kv.aval"/>
		<add key="LdapSearchAccountDn" value="uid=suboManager,ou=Special Users,ou=People, o=avalbank.com"/>
		<add key="LdapSearchAccountPassword" value="suboManager"/>
		<add key="LdapSearchBase" value="o=avalbank.com"/>
		<add key="OFF_LdapFilter" value="objectType=person"/>
		<add key="OFF_LdapListTimeout" value="0:10:0"/>
		<add key="SMTP" value="mail.kv.aval"/>
		<add key="ErrorLogAddress" value="oleg.mihailik@kvazar-micro.com"/>
		<!--migrated from [~/Setup.config]-->
		<add key="MaxPhotoSize" value="102400"/>
		<add key="XsltPath" value="XSL"/>
		<add key="PageNavigatorPortion" value="10"/>
		<add key="AdminMailLink" value="mailto:dce@edu.kvazar-micro.com"/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="c#" debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
				<add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2"/>
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
				<add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2"/>
			</expressionBuilders>
		</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms loginUrl="SignUp.aspx" defaultUrl="MainPage.aspx?index=1"/>
		</authentication>
		<trace enabled="false" requestLimit="30" pageOutput="true" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
		<xhtmlConformance mode="Legacy"/>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptManagerAddModule" type="ListSearch.ScriptManagerAddModule"/>
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2"/>
		</httpModules>
		<membership defaultProvider="ContentMembershipProvider">
			<providers>
				<clear/>
				<add name="ContentMembershipProvider" type="N2.Security.ContentMembershipProvider, N2.Security"/>
				<add name="DceMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DceConnectionString" applicationName="/TDWork" requiresQuestionAndAnswer="false" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0"/>
				<!--<add name="ADMembershipProvider"
					 type="System.Web.Security.ActiveDirectoryMembershipProvider,System.Web,Version=2.0.3600.0, Culture=neutral,&#xA;       PublicKeyToken=b03f5f7f11d50a3a"
					 connectionStringName="ADMembershipConnection"
					 connectionUsername="Contoso\Administrator"
					 connectionPassword="P@ssw0rd"
					 connectionProtection="None"
					 enableSearchMethods="true"
					 applicationName="/DTWork"
					 description="Test AD connection"
					 requiresUniqueEmail="false"
					 attributeMapUsername="SAMAccountName"
					 attributeMapPasswordQuestion="department"
					 attributeMapPasswordAnswer="division"/>-->
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="ContentRoleProvider">
			<providers>
				<clear/>
				<add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Security"/>
				<add connectionStringName="DceConnectionString" applicationName="/DTWork" name="DceRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>
		<profile defaultProvider="ContentProfileProvider">
			<providers>
				<clear/>
				<add name="ContentProfileProvider" type="N2.Security.ContentProfileProvider, N2.Security"/>
				<add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="DceConnectionString" applicationName="/DTWork" description="SqlProfileProvider for DCE application"/>
			</providers>
			<properties>
				<add name="FirstName"/>
				<add name="Patronymic"/>
				<add name="LastName"/>
				<add name="FirstNameEng"/>
				<add name="LastNameEng"/>
				<add name="BirthDay" type="System.DateTime"/>
				<add name="Sex" type="Int32"/>
				<add name="Organization"/>
				<add name="OrgType"/>
				<add name="JobPosition"/>
				<add name="Chief"/>
				<add name="ChiefPosition"/>
				<add name="ChiefPhone"/>
				<add name="Country"/>
				<add name="City"/>
				<add name="ZIP"/>
				<add name="Address"/>
				<add name="Phone"/>
				<add name="Fax"/>
				<add name="Email"/>
				<add name="Education"/>
				<add name="Courses"/>
				<add name="Certificates"/>
				<add name="Comments"/>
				<add name="MediaLibrary"/>
				<add name="LastLogin" type="System.DateTime"/>
				<add name="Photo" type="System.Guid"/>
				<add name="TotalLogins" type="Int32"/>
				<add name="useCDLib" type="System.Boolean"/>
				<add name="cdPath"/>
			</properties>
		</profile>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
				<add name="LeftMenuProvider" decription="provide context dependent left-hand menu" type="LeftMenuSiteMapProvider"/>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true"/>
			</providers>
		</siteMap>
		<pages enableViewState="false"
      validateRequest="false"
      theme="Default">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="n2" namespace="N2.Web.UI.WebControls" assembly="N2"/>
				<add tagPrefix="n2" namespace="N2.Templates.Web.UI.WebControls" assembly="N2.Templates"/>
				<add tagPrefix="asp" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
			</controls>
		</pages>
		<!--[http://www.eggheadcafe.com/articles/GenerateMachineKey/GenerateMachineKey.aspx]-->
		<machineKey validationKey="6C0B57DAB87EF206341B46B8930762DD9BB9E1C0F797FF768BC0CCAB8129A7C6993A61AA12E56B2AE442A022F60CDF464AF2AAEA9E6DC8A4661EE748191B741C" decryptionKey="F73719A35344BC1485570AA02E9A53F79B34886DC64D5FC7" validation="SHA1"/>
	</system.web>
	<connectionStrings>
		<add name="DceConnectionString" connectionString="Data Source=.\sqlexpress;AttachDbFilename=|DataDirectory|\DTWork.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		<add name="Convert.Properties.Settings.DTworkConnectionString" connectionString="Data Source=.\sqlexpress;AttachDbFilename=|DataDirectory|\DTWork.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		<add name="ADMembershipConnection" connectionString="LDAP://London"/>
		<add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<n2 xmlns="http://n2cms.com/schemas/configuration/v3">
		<!-- If you install a database from scrach you'll need to insert some 
    required pages. This can be done by the web based installer located at 
    http://yoursite/install/edit -->
		<host rootID="1" startPageID="2" multipleSites="true">
			<outputCache enabled="false" duration="10"/>
			<!-- Set extension="/" for friendlier urls -->
			<web extension=".aspx"/>
		</host>
		<engine>
   <errors action="Email" mailTo="" mailFrom="noreply@yourdomain.com" />
   <globalization enabled="true" />
   <scheduler interval="10" keepAlive="true" />
  </engine>
		<!-- Other flavours: SqlServer2005, SqlServer2000, MySql, SqLite, SqlCe, Firebird -->
		<database connectionStringName="N2CMS" flavour="SqlServer2005"/>
		<edit>
			<installer checkInstallationStatus="false"/>
			<uploadFolders>
				<add path="Upload"/>
			</uploadFolders>
		</edit>
		<templates/>
	</n2>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<location path="Tools">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Learn">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Subscribe">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="specifiedPickupDirectory" from="mailer@edu.kvazar-micro.com">
				<specifiedPickupDirectory pickupDirectoryLocation="c:\usr\tmp\maildrop"/>
				<network host="localhost" port="25" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/d:DEBUG;TRACE">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
</configuration>
