<?xml version="1.0"?>
<connectionStrings>
	<!--<add name="N2CMS"
		 connectionString="Data Source=|DataDirectory|\n2.sqlite.db;Version=3;New=True;"
		 providerName="System.Data.SQLite"/>-->
	
	<add name="N2CMS"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LmsWeb20081224;Integrated Security=True;User Instance=False"/>
</connectionStrings>