<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup
			name="applicationSettings"
			type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DCEAccessLib.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings"
					  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DCEAccessLib.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 allowExeDefinition="MachineToLocalUser"
					 requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<DCEAccessLib.Properties.Settings>
			<setting name="DCEAccessLib_DceService_DCEAccess"
						 serializeAs="String">
					<value>http://192.168.97.119/do/WebServices/DCEAccess.asmx</value>
				</setting>
				<setting name="DCEAccessLib_SecurityServices_UserManager"
						 serializeAs="String">
					<value>http://192.168.97.119/do/SecurityServices/UserManager.asmx</value>
				</setting>
			</DCEAccessLib.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<DCEAccessLib.Properties.Settings>
			<setting name="DCEAccessLibAuthenticationFormLoginText"
					 serializeAs="String">
				<value />
			</setting>
		</DCEAccessLib.Properties.Settings>
	</userSettings>
	<system.net>
		<defaultProxy useDefaultCredentials="true">
			<proxy usesystemdefault= "True" />
		</defaultProxy>
		<connectionManagement>
			<add address="*"
				 maxconnection="8000"/>
		</connectionManagement>
	</system.net>
</configuration>