<?xml version="1.0"?>
<connectionStrings>
	<add	name="DceConnectionString"
			connectionString="Data Source=.\sqlexpress;Initial Catalog=DTWorkCourseSamples;Integrated Security=True;"
			providerName="System.Data.SqlClient" />
	<add	name="Dce2005ConnectionString"
			connectionString="Data Source=.\sqlexpress;Initial Catalog=DTWorkCourseSamples;Integrated Security=True;"
			providerName="System.Data.SqlClient" />
	<add	name="ADMembershipConnection"
			connectionString="LDAP://London" />
</connectionStrings>
