<yafnet>
  <boardid>1</boardid>
  <!-- Enable URL Rewriting -->
  <enableurlrewriting>false</enableurlrewriting>
  <!--logtomail>email=;server=;user=;pass=;</logtomail-->
  <!--categoryid>1</categoryid-->
  <!-- Enable these to use a custom user class "provider" -->
  <!--CustomUserAssembly>TinyGecko.YAFIntegration.dll</CustomUserAssembly>
    <CustomUserClass>TinyGecko.YAFIntegration.yafUserClass</CustomUserClass-->
  <connstr>data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true</connstr>
  <CustomUserAssembly>Forum.dll</CustomUserAssembly>
  <CustomUserClass>N2.Templates.Forum.Services.GenericForumUser</CustomUserClass>
  <root>/LmsWeb/Forum/YAF/</root>
  <uploaddir>~/Upload/Forum/</uploaddir>
</yafnet>