.yaf 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3B3b3b;
}

.yaf td
{
	font-family: sans-serif, Helvetica, Arial;
	font-size: 11px;
	color: #3b3b3b;
}

.yaf input,.yaf  select
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #3b3b3b;	
	background-color: #FFFFFF;
	border: 1px solid #E3E3E3;	
}

/*  */
.yaf img {
	border: 0;
}

/* Header 1 - Main header */
.yaf tr.header1 
{	
	background-image: url('titleBack.gif');
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	font-size: 11pt;
}

.yaf tr.header1 a { color: #ffffff;	text-decoration: none; }
.yaf tr.header1 a:hover { color: #eeffee; text-decoration: underline; }	

.yaf td.header1 
{
	background-image: url('titleBack.gif');
	/*background-color: #66a262;*/
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	height: 40px;
	font-size: 11pt;
}	

.yaf .header1Title
{
	background-image: url('titleBack.gif');
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;	
	height: 40px;
	font-size: 11pt;
}

/* Header 2 - Sub header */
tr.header2 {
	background-color: #e3e3e3;
	color: #55a055;
	font-weight: bold;
}

.yaf td.header2 {
	background-color: #e3e3e3;
	color: #5555a0;
	font-weight: bold;
}

.yaf td.header2 a { color: #000090; text-decoration: none; }
.yaf td.header2 a:link { color: #7f7f7f; text-decoration: none; }
.yaf td.header2 a:visited { color: #7f7f7f; text-decoration: none; }
.yaf td.header2 a:active { color: #7f7f7f; text-decoration: none; }
.yaf td.header2 a:hover { color: #7f7f7f; text-decoration: underline; }

.yaf td.infoTable {
	background-color: #FAFAFA;
	padding: 10px;
	border: 1px solid #F2F2F2;
}

/* all links */
.yaf .content a			{ color: #001090; text-decoration: none; }
.yaf .content a:hover	{ color: #001090; text-decoration: underline; }

/* Footer1 - Bottom of tables */
.yaf .footer1 {
	font-size: 7pt;
	height: 28px;
	background-color: #f4f4f4;
}

.yaf .footer1 select,.yaf  .footer1 td {
	font-size: 10px;
}

.yaf .forumheading
{
	font-size: 9pt;
	font-weight: bold;
}

.yaf a.post_link
{
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
}

/* Header of posts */
.yaf .postheader
{
	background-color: #f0f0f0;
}

.yaf .postheader a 
{
	font-size: 11pt;
	color: Black;	
}


/* User info and post/article */
.yaf .post
{
	background-color: #F5F5F5;
}

.yaf .post_alt
{
	background-color: #FaFaFa;
}

.yaf tr.post:hover
{
	background-color: #FFFFFF;	
}

.yaf tr.post_alt:hover
{
	background-color: #FFFFFF;	
}

/* Footer of posts */
.yaf .postfooter
{
	background-color: #cdcdcd;
}

/* Area between posts */
.yaf .postsep
{
	background-color: #3a3b5a;
}

/* most tables are class 'content' */
.yaf .content
{
	border: solid 1px #777777;
	padding: 0px;
	margin: 0px;
	color: #000000;
}

.yaf .postformheader 
{
	background-color: #EEEEEE;
	font-weight:bold;
}

.yaf table.content td {
	padding: 5px;
}

/* used for quoting messages */
.yaf .quote {
	padding-left: 16px;
	margin: 5px;
}

.yaf .innerquote
{
	padding: 4px;
	background-color: #fefefe;
	border: 1px dashed #808080;
}

/* used for code */
.yaf .code
{
	padding-left: 16px;	
	margin: 5px;
}

.yaf .innercode
{
	padding: 4px;
	background-color: #efefef;
	border: solid 1px #808080;
	color: #000000;
	font-size:8pt;
	font-family:Courier New,Courier;
}

/* font sizes */
.yaf .smallfont	{ font-size: 10px; }
.yaf .largefont	{ font-size: 11px; }

/* Image Links */
.yaf a.imagelink {
	font-weight: bold;
	color: #000000;
}
.yaf a:hover.imagelink {
	text-decoration: none;
	/*background-color: #D0D0D0;*/
}

/* Used for editor textarea */
.yaf .posteditor {
	width: 100%;
	height: 200px;
}

/* Table just above and below tables */
.yaf table.command {
	padding: 3px;
}

/* p-tag at the top of pages with navigation links */
.yaf .navlinks { font-weight: bold; color: #000000; }
.yaf .navlinks a { color: #000000; text-decoration: none }
.yaf .navlinks a:hover {color: #666666;
}

/* for printing */
.yaf table.print {
	border: solid 1px #C0C0C0;
}
.yaf .printheader {
	background-color: #DDDDDD;
	color: #000000;
	padding: 4px;
}
.yaf .printbody {
	background-color: #FFFFFF;
	color: #000000;
	padding: 4px;
}

.yaf .pbutton {
	background-color: #3B3B3B;
	font-size: 10px;
	color: #FFFFFF;
	border: none;
	font-weight: bold;
}
 
.yaf .textfield {
	background-color: #FFFFFF;
	border: 1px solid #3B3b3b;
	width: 100%;
}

.yaf .ButtonOut
{
	border: #669966 1px solid;
}
.yaf .ButtonOver
{
	border: #000000 1px solid;
	background-color: #ffffff;
}
.yaf .ButtonChecked
{
	border: #000000 1px solid;
}
.yaf .ButtonOff
{
	border: #669966 1px solid;
}

.yaf #bbcodeFeatures
{
	border: #eeffee 1px solid;
}

/*
Use this to setup overflow feature for your site.
On IE that would mean specifying a width so that the overflow will work properly.
This CSS already works on FireFox.
*/
.yaf div.postdiv
{
	width: 100%;
	min-height: 100px;
	overflow: auto;	
}